<body>
<form method="post" action="/login">
    <input type="text" name="nome" placeholder="Nome">
    <br>
    <input type="text" name="senha" placeholder="Senha">
    <br>
    <input type="submit">
</form>
</body>