<body>
  <form method="post" action="/salvar">
    <input type="hidden" value="{{a._id}}" name="_id"/>
    Nome: <input name="nome" value="{{a.nome}}"/>
    <br/>
    Idade: <input name="idade" value="{{a.idade}}"/>

    <br/><br/>
    <input type="submit">
  </form>
</body>